*{
    cursor: url("../icon/cursor_1.png"),auto;
    font-family: "Zpix";
}
canvas{
    cursor: url("../icon/cursor_1.png"),auto;
}
html,
body {
    font-family: "Zpix";
    background-color: bisque;
    min-width: 800px;
    min-height: 600px;
}

#minigame {
    display: none;
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ui_div {
    position: absolute;
    display: block;
    text-align: center;
    flex-direction: column;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.start_button {
    font-size: large;
    width: 100%;
    height: 70px;
    margin-top: 20px;
}
p{
    margin: 5px;
}
select{
    align-self: center;
    width: 60%;
    height: 2rem;
    /* padding: 0.5rem 3rem 0.5rem 1rem; */
    margin: 10px;
    line-height: 2rem;
    border-image-slice: 2;  
    border-image-repeat:stretch;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
    border-image-width: 2;
    border-width: 4px;
    border-image-outset: 2;
    border-style: solid;
    background-color: white;
}