*{
    cursor: url("../icon/cursor_1.png"),auto;
    font-family: "Zpix";
}
canvas{
    cursor: url("../icon/cursor_1.png"),auto;
}
html,
body {
    font-family: "Zpix";
    background-color: bisque;
    min-width: 800px;
    min-height: 600px;
}

#minigame {
    display: none;
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ui_div {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.start_button {
    font-size: large;
    width: 200px;
    height: 70px;
    padding-bottom: 20px;
}