/* 参考滚动贴合效果 */
*{
    overflow-x:hidden;
    overscroll-behavior-x: none;
    scroll-behavior: smooth;
}
html{
    background-image: url('../backgrounds/about_bg.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.container{
    scroll-snap-type: y mandatory;
    overflow: scroll;
    height: 100vh;
    
    text-align: center;
    margin: 0;
}
.contain{
    scroll-snap-align: center;
    overflow: hidden;
    border-radius: 15px;
    margin: 10vh 0vw 10vh 15vw;
    height: 80vh;
    width: 80vw; 
    background-color: rgba(255, 255, 255, 0.829);
    backdrop-filter: blur(10px);


    border-image-slice: 3;
    border-image-width: 5;
    border-image-repeat:stretch;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version=\"1.0\" encoding=\"UTF-8\" ?><svg version=\"1.1\" width=\"8\" height=\"8\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z\" fill=\"rgb(33,37,41)\" /></svg>');
    border-image-outset: 3;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(0, 0, 0);
}
.tab{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 9%;
    left: 4%;
    height: 80%;
    width: 5%;
    background-color: rgba(255, 255, 255, 0.682);
    justify-items: center;
    vertical-align:middle;
}
.name{
    flex: 1 12vh;
    display: block;
    line-height: 6vh;
    overflow: hidden;
    text-align: center;
    font-size:1.15vw;
    padding: 0 0;
    margin: 5%;
    color: darkgoldenrod;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.682);
    transition: all 0.4s ease-in-out;
}
.name:hover{
    color: rgb(255, 0, 0);
    flex: 5 40vh;
    line-height: 10vh;
}
.changepage{
    position: absolute;
    padding: 0em 0.5em 0.5em 0.5em;
}
hr{
    margin-bottom: 3%;
}
img{
    max-height: 55vh;
}
h1{
    font-size: 5vh;
    margin: 5px;
}
.highlight{
    flex: 5 40vh;
    line-height: 10vh;
    color: rgb(0, 0, 0);
    background-color: orange;
    text-align: center;
}