.achieve_list{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.378);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.achieve_list > div{
    height: 190px;
    background-color: rgba(0, 0, 0, 0.47);
    color: aliceblue;
    margin: 10px;
}
.achieve_list > div > p{
    text-align: center;
}
.achievetext_hid{
    display: block;
    font-size: 2.5rem
}
.achievetext_vis{
    display: none;
    color: rgb(176, 111, 0);
    font-weight: 900;
    font-size: 2rem
}
.achievetext_vis_desc{
    color: rgb(222, 145, 0);
    display: none;
    font-size: 1.7rem;
    line-height: 2rem;
}
