body {
    display: flex;
    flex-direction: column;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink {
    from {
        border-color: transparent
    }

    to {
        border-color: rgb(0, 0, 0);
    }
}

@keyframes blink2 {
    from {
        color: transparent
    }

    to {
        color: rgb(0, 0, 0);
    }
}

.upperbarContainer{
    position: absolute;
    width: 960px;
    height: 27%;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    background-color:transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 99;
}

.packagebar {
    width: 195px;
    min-width: 150px;
    max-width: 450px;
    height: 90%;
    margin-left: 20px;
    top: 7%;
    position: relative;
    justify-content: space-between;
    padding: 0;
    background-color: rgba(45, 45, 45, 0.75);

    z-index: 99;
    display: grid;
    grid-template: 
    "t d i b" 1fr
    "l d i b" 6fr
    /4fr 5fr 2fr 0.7fr
    ;
    transition:  all .5s ease;

    opacity: 0;
}
#packagelist{
    grid-area: l;
    width: 170px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    overflow-y: auto;
    overflow-x: hidden;
    
}
#packagebar > h1{
    grid-area: t ;
    /* 标题 */
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    border-width: 0 0 3px 0;
    border-style: solid;
    color: white;
    padding-bottom: 10px;
}
.item_button{
    cursor: url("../icon/cursor_2.png") 14 0,auto;
    grid-area: b;
    line-height: 1.5rem;
    padding: 0.2rem;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
    border-left: 3px;
    border-color: white;
    color: whitesmoke;
    border-style: solid;
}
.item_button:nth-child(1){
    display: block;
}
.item_button:nth-child(2){
    display: none;
}
.item_button:nth-child(1):before{
    position: absolute;
    left: -10;
    bottom: 20px;
    content: "";
    width: 2px;
    height: 2px;
    color: #ffffff;
    box-shadow: 2px 2px, 4px 2px, 2px 4px, 4px 4px, 6px 4px, 8px 4px, 2px 6px, 4px 6px, 6px 6px, 8px 6px, 10px 6px, 2px 8px, 4px 8px, 6px 8px, 8px 8px, 10px 8px, 12px 8px, 2px 10px, 4px 10px, 6px 10px, 8px 10px, 10px 10px, 2px 12px, 4px 12px, 6px 12px, 8px 12px, 2px 14px, 4px 14px;
}
.item_button:nth-child(2):before{
    position: absolute;
    left: -10;
    bottom: 20px;
    content: "";
    width: 2px;
    height: 2px;
    color: #ffffff;
    box-shadow: 14px 2px, 12px 2px, 14px 4px, 12px 4px, 10px 4px, 8px 4px, 14px 6px, 12px 6px, 10px 6px, 8px 6px, 6px 6px, 14px 8px, 12px 8px, 10px 8px, 8px 8px, 6px 8px, 4px 8px, 14px 10px, 12px 10px, 10px 10px, 8px 10px, 6px 10px, 14px 12px, 12px 12px, 10px 12px, 8px 12px, 14px 14px, 12px 14px;
}

#packagelist > div{
    color: white;
    flex: 0 0 auto;
    padding-top: 10px;
    line-height: 1.15rem;
    font-size: 0.9rem;
    cursor: url("../icon/cursor_2.png") 14 0,auto;
}
#item_img{
    grid-area: i;
    width:100px ;
    height: 100px;
    margin: 10px;
    display: none;
}
#item_describe{
    grid-area: d;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: none;
    max-width: 135px;
    line-height: 1.3rem;
}
/* 日志 */
.diarybar {
    width: 195px;
    min-width: 150px;
    max-width: 450px;
    height: 90%;
    margin-right: 20px;
    padding: 10px;
    top: 7%;
    justify-self: end;
    position: relative;
    justify-content: space-between;
    padding: 0;
    background-color: rgba(45, 45, 45, 0.75);
    overflow: auto;

}

.diarybar > div{

    color: white;
    flex: 0 0 auto;
    padding-top: 10px;
    line-height: 1.15rem;
    font-size: 0.9rem;

}
.diarybar > h1{
    grid-area: t ;
    /* 标题 */
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    border-width: 0 0 3px 0;
    border-style: solid;
    color: white;
    padding-bottom: 10px;
}















#maingameframe {
    width: 100%;
    height: 100%;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.toolbar {

    width: 860px;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    z-index: 99;
    display: flex;

    visibility: hidden;


}

.avator {
    flex: 1;
    width: 175px;
    height: 175px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

    border-image-slice: 3;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version=\"1.0\" encoding=\"UTF-8\" ?><svg version=\"1.1\" width=\"8\" height=\"8\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z\" fill=\"rgb(33,37,41)\" /></svg>');
    border-image-outset: 1;
    border-style: solid;
    border-right: 0px;
    border-width: 4px;

    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);


}

.text_area {
    flex: 8;
    overflow: auto;
    height: 175px;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);

    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;

    border-image-slice: 3;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version=\"1.0\" encoding=\"UTF-8\" ?><svg version=\"1.1\" width=\"8\" height=\"8\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z\" fill=\"rgb(33,37,41)\" /></svg>');
    border-image-outset: 1;
    border-style: solid;
    border-left: 0px;
    border-width: 4px;
}

.text_area>div:nth-child(1) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
}

br {
    display: inline;
    line-height: 0;
}

.text_area>div:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: end;
    justify-content: right;
}

.maintextContainer {
    text-align: left;
    display: inline-block;
    text-align: left;
    text-align-last: left;
}

.maintextContainer>div {
    display: inline-block;
    padding: 0;
    margin: 0;

}

.maintextContainer>div>div {
    /* 文字所在div */
    overflow-x: hidden;
    overflow-y: auto;
    border-right: .15em solid rgba(0, 0, 0, 0);
    white-space: nowrap;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    width: 0;
}

.maintextContainer_line1>div {
    /* 第一行文字 */
    animation:
        typing 0.8s steps(15, end) forwards,
        blink 0.8s infinite;

}

br {
    line-height: 1px;
}

.maintextContainer_line2>div {
    /* 第二行文字 */
    animation:
        typing 0.8s steps(15, end) forwards,
        blink 0.8s infinite;
    animation-delay: 0.8s;

}

.optionsContainer {
    display: inline-block;
    text-align: right;
}

.option_text {
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1.2rem;
    color: rgb(129, 129, 129);
    margin-bottom: 0.4rem;
    margin-top: 0.2rem;
    padding-left: 2rem;
    width: fit-content;

}

.option_text:hover {
    cursor: url("../icon/cursor_2.png") 14 0, auto;
    color: rgb(0, 0, 0);
}

.option_text::before {
    position: absolute;
    left: 10px;
    content: "";
    width: 2px;
    height: 2px;
    color: rgb(129, 129, 129);
    box-shadow: 2px 2px, 4px 2px, 2px 4px, 4px 4px, 6px 4px, 8px 4px, 2px 6px, 4px 6px, 6px 6px, 8px 6px, 10px 6px, 2px 8px, 4px 8px, 6px 8px, 8px 8px, 10px 8px, 12px 8px, 2px 10px, 4px 10px, 6px 10px, 8px 10px, 10px 10px, 2px 12px, 4px 12px, 6px 12px, 8px 12px, 2px 14px, 4px 14px;
}

.option_text:hover::before {
    position: absolute;
    left: 10px;
    content: "";
    width: 2px;
    height: 2px;
    color: #000000;
    animation: blink2 0.8s infinite;
    ;
    box-shadow: 2px 2px, 4px 2px, 2px 4px, 4px 4px, 6px 4px, 8px 4px, 2px 6px, 4px 6px, 6px 6px, 8px 6px, 10px 6px, 2px 8px, 4px 8px, 6px 8px, 8px 8px, 10px 8px, 12px 8px, 2px 10px, 4px 10px, 6px 10px, 8px 10px, 10px 10px, 2px 12px, 4px 12px, 6px 12px, 8px 12px, 2px 14px, 4px 14px;
}