/* 定义字体 */
@font-face {
    font-family: "PressStart2P";
    src: url("./Font/PressStart2P.woff") format('woff');
}

html {
    font-family: PressStart2P; 
    font-size: 100%; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
    cursor: url("../icon/cursor_1.png"),auto;
}

body{
    display: flex;
    flex-flow: column;
}
.gamescene {
    flex: 2 400px;
}

#maingameframe{
    width: 1050px;
    height: 600px;
    margin-top: 0;
}


.centre {
    margin: 0 auto;
}

.toolbar {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.avator {
    flex: 1 150px;
}

.text_area {
    flex: 8;
    border-image-slice: 3;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
    border-image-outset: 2;
    border-style: solid;
    border-width: 4px;
    padding: 1rem 1.5rem;
    margin: 10px;
    background-color: burlywood;
    order: 1;
}

.button_box {
    /* width: 200px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}