body {
    background-image: url('../backgrounds/Background1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.game {
    width: 800px;
    height: 480px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}