#GameWindow {
    width: 960px;
    height: 576px;
    position: absolute;
    z-index: 98;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    /* 边框样式 */


}

#GameWindow>* {

    width: 960px;
    height: 576px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    position: fixed;
    border-image-slice: 2;
    border-image-repeat: stretch;
    /* 这里有一张奇怪的矢量图 */
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
    border-image-width: 2;
    border-width: 10px;
    border-image-outset: 1;
    border-style: solid;
    z-index: 99;
}

.volume {
    cursor: pointer;
    cursor: url("../icon/cursor_2.png") 14 0, auto;
}

.minigame_ut {
    overflow: hidden;
    width: 37%;
    height: 67%;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -45%);
    z-index: 100;
    border-image-slice: 2;
    border-image-repeat: stretch;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,228,196)" /></svg>');
    border-image-width: 3;
    border-width: 6px;
    border-image-outset: 2;
    border-style: solid;
}