
#closeframebutton{
    background-image: url(../icon/symbolButton/buttonSymbols35.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#addsavebutton,.save{
    background-image: url(../icon/symbolButton/buttonSymbols65.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.load{
    background-image: url(../icon/symbolButton/buttonSymbols57.png);
    background-repeat: no-repeat;
    background-size: cover;
} 

.save_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    background-color: transparent;
    display: flex;
}

.save_list > div{
    text-align:center;
    align-self: center;
    padding: 5px;
    height: 150px;
    flex: 1 400px;
    flex-wrap: wrap;
    margin: 15px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.button_box{
    display: flex;
    flex-direction: row;
}
.button_box > button{
    margin: 8px;
}

