
#closeframebutton{
    background-image: url(../icon/symbolButton/buttonSymbols35.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#addsavebutton,.save{
    background-image: url(../icon/symbolButton/buttonSymbols65.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.load{
    background-image: url(../icon/symbolButton/buttonSymbols57.png);
    background-repeat: no-repeat;
    background-size: cover;
} 

.save_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    background-color: transparent;
    overflow: auto;
    height: 100vh;
}

.save_list > div{
    text-align:center;
    align-self: center;
    padding: 0;
    min-height: 19%;
    flex: 1 25%;
    flex-wrap: wrap;
    margin: 1% 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.save_list > div > button{

}
/* .save_list::-webkit-scrollbar-track{
    background-color: rgb(255, 255, 255);
}
.save_list::-webkit-scrollbar-thumb{
    border-radius: 20px;
    color: black;
}
.save_list::-webkit-scrollbar {
    width: 15px;
    height: 5px;
} */

