/* 定义字体 */
@font-face {
    font-family: "PressStart2P";
    src: url("./Font/PressStart2P.ttf") format("truetype");
    src: url("./Font/PressStart2P.woff") format('woff');
}
@font-face {
    font-family: "Zpix";
    src: url("./Font/zpix.woff") format('woff');
    src: url("./Font/zpix.ttf") format('truetype');
}
/*  已弃用 */
/* @font-face {
    font-family: "Ipix";
    src: url("./Font/ipix_12px.ttf") format('truetype');
}
@font-face {
    font-family: "fusion-pix-8";
    src: url("./Font/fusion-pixel-8px-monospaced-zh_hans.ttf") format('truetype');
    src: url("./Font/fusion-pixel-8px-monospaced-zh_hans.woff2") format('woff2');
} */
/* @font-face {
    font-family: "fusion-pix-10";
    src: url("./Font/fusion-pixel-10px-monospaced-zh_hans.ttf") format('truetype');
    src: url("./Font/fusion-pixel-10px-monospaced-zh_hans.woff2") format('woff2');
} */
/* @font-face {
    font-family: "fusion-pix-12";
    src: url("./Font/fusion-pixel-12px-monospaced-zh_hans.ttf") format('truetype');
    src: url("./Font/fusion-pixel-12px-monospaced-zh_hans.woff2") format('woff2');
}  */


html,body {
    font-family: 'Zpix';
    font-size: 100%; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
    cursor: url("../icon/cursor_1.png"),auto;
    width: 100%;
    height: 100%;
    scroll-behavior: auto;
    overflow: hidden ;
    margin: 0;
    padding:0;
    /* zoom: 0.8; */
}
/* 定义按钮样式 */
button{
    cursor: url("../icon/cursor_2.png") 14 0,auto;
}
h2{
    font-family: "Zpix";
}
.button_s,.swal2-styled{
    cursor: url("../icon/cursor_2.png") 14 0,auto;
    /* 边框 */
    text-decoration: none;
    
    border-image-slice: 2;
    border-image-repeat:stretch;
    /* 这里有一张奇怪的矢量图 */
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
    border-image-width: 2;
    border-width: 4px;
    border-image-outset: 2;
    border-style: solid;
    

    /* 位置 */
    position: relative;
    text-align: center;
    user-select: none;

    /* 颜色 */
    color: #212529;
    background-color: #fff;
}

.button_s:hover,.swal2-styled:hover{
    color: #212529;
    text-decoration: none;
    background-color: #e7e7e7;
}
.button_s::after{
    /* 按钮阴影 */
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    content: "";
    box-shadow: inset -4px -4px #adafbc;
}
.button_s:hover::after  {
    box-shadow: inset -6px -6px #adafbc
}
.border_s{
    border-image-slice: 2;
    border-image-repeat:stretch;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
    border-image-width: 2;
    border-width: 4px;
    border-image-outset: 2;
    border-style: solid;
}
.img_button{
    /* 定义图标按钮大小 */
    /* 图标显示在背景上 */
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 8px;
    position:relative;
    text-align: center
}
.speak_text_l{
    border-style: solid;
    border-width: 4px;
    border-image-slice: 3;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
    border-image-outset: 2;
    position: relative;
    padding: 0.3rem;
    margin: 0.5rem;
    margin-bottom: 20px;
    background-color: #fff
}
.speak_text_l::after,
.speak_text_l::before{
    position: absolute;
    content: "";
    left: 2rem
}
.speak_text_l::before{
    bottom: -14px;
    width: 20px;
    height: 10px;
    background-color: #fff;
    border-right: 4px solid #212529;
    border-left: 4px solid #212529
}
.speak_text_l::after{
    bottom: -18px;
    width: 18px;
    height: 4px;
    margin-right: 8px;
    color: #212529;
    background-color: #fff;
    box-shadow: -4px 0, 4px 0, -4px 4px #fff, 0 4px, -8px 4px, -4px 8px, -8px 8px
}

.speak_text_r{
    border-style: solid;
    border-width: 4px;
    border-image-slice: 3;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
    border-image-outset: 2;
    position: relative;
    padding: 0.3rem;
    margin: 0rem 0.5rem 0.5rem 0.5rem;
    margin-bottom: 25px;
    background-color: #fff
}
.speak_text_r::after,
.speak_text_r::before{
    position: absolute;
    content: "";
    right: 2rem
}
.speak_text_r::before{
    bottom: -14px;
    width: 20px;
    height: 10px;
    background-color: #fff;
    border-right: 4px solid #212529;
    border-left: 4px solid #212529
}
.speak_text_r::after{
    bottom: -18px;
    width: 18px;
    height: 4px;
    margin-left: 8px;

    background-color: #fff;
    box-shadow: -4px 0, 4px 0, 4px 4px #fff, 0 4px, 8px 4px, 4px 8px, 8px 8px
}

