*{
    cursor: url("../icon/cursor_1.png"),auto;
}
canvas{
    cursor: url("../icon/cursor_1.png"),auto;
}
html,body{
    background-color: bisque;
    min-width: 480px;
    min-height: 480px;
}
#minigame{
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.what{
    color: bisque;
    width: 480px;
    height: 480px;
}
