*{
    border-radius: 15px;
}
.alltitle{
    background-color:rgba(0, 221, 255, 0.74);
    text-align: center;
    
}
h2{
    background-color: rgba(0, 255, 157, 0.322);
}
.photo{
    max-height: 400px;
}
body{
    background-color: rgba(255, 255, 255, 0.799);
}